body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(90, 201, 182);
}

div{
    display: flex;
    justify-content: center;
}

.bar, .btn{
    left: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}

.guessImg{
    max-width: 50%;
}